# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=rest_api_mysql2_skeleton
DB_USER=root
DB_PASS=

# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=1d
